<div>
  <h1>Universal Cost Splitter</h1>
  <div class="person">
    <input
        id="name"
        value={{currentValue}}
        type="string"
        oninput={{action changeValueName}}
    >
    <br>
    <button class="add" onclick={{action addPerson}}>Add Person</button>
    <button class="clear" onclick={{action clearArray}}>Clear Array</button>
  </div>
    
  <div class="calculator">
    <ul>
    {{#each this.listOfPeople key="@index" as |person index|}}
      <li>
        {{person.name}}
        <button class="clear" onclick={{action clearArrayIndex index}}>-</button>
        <input
            id="purchase"
            placeholder=0
            value={{current}}
            type="number"
            oninput={{action changeValue index}}
        >
      </li>
    {{/each}}
    </ul>
  </div>

  <div class="result">
    <ul>
    {{#each this.listOfPeople key="@index" as |person index|}}
      <li>
        <p>{{person.name}} contributed {{person.purchase}}$</p>
        {{#if (gt person.purchase (split-cost listOfPeople))}}
          <p style="color:green;">{{person.name}} is owed {{diff person.purchase (split-cost listOfPeople)}}$ from {{owes (split-cost listOfPeople) listOfPeople}}</p>
        {{else if (eq person.purchase (split-cost listOfPeople)) }}
          <p style="color:blue;">This person owe's nothing</p>
        {{else}}
          <p style="color:red;">{{person.name}} owes {{diff (split-cost listOfPeople) person.purchase}}$ to {{owed (split-cost listOfPeople) listOfPeople}}</p>
        {{/if}}
      </li>
    {{/each}}
    </ul>
  </div>
</div>